@use "../abstracts/abstracts" as ab;

.formaciones { 
  margin-bottom: 60px;
  & .container {
    text-align: center;

    //Linea devisora al final 
    &::after {
     content: "";
     position: absolute ;
     left: 50%;
     transform: translateX(-50%);
     width: 80%;
     height: 2px;
     background-color: rgb(214, 213, 213);
    }

      & h2 {
       color: ab.$grey;
       font-size: 30px;
       margin-bottom: 20px;
       text-shadow: 1px 1px 2px grey;
      }
      
      & p {
        font-size: 18px;
        margin-bottom: 30px;

        & span {
            border-bottom: 2px solid ab.$cyan;
        }
      }

      & .formaciones_article {
        box-shadow: 10px 0px 15px -15px grey,-10px 0px 15px -15px grey;
        background-color: white;
        margin-bottom: 35px;

        & .info {
          text-decoration: none;

          & img {
              width: 100%;
              height: 150px;
              object-fit: cover;
              margin-bottom: 10px ;
          }

          & .container_description {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            & h3 {
                font-size: 25px;
                color: ab.$grey;
                margin-bottom: 10px;
            }
  
            & p {
              color: black;
            }
          }
  
        }


        & .btnvermas {
          @include ab.botonarticle(){
          }
          margin-bottom: 20px;
  
        }
    }

    @include ab.breakpoint(tablet) {
      .parrafo {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
      }
      & .formas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        & .formaciones_article {
          display: grid;
          grid-template-rows: 380px 40px;

          .info {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
          }

          .btnvermas {
            border-radius: 1px;
            margin-bottom: 0px;
            display: block;
            align-self: start ;
          }
        }
      }
    }


  }
}