@use "../abstracts/abstracts" as ab;

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 60px;

    // Para fondo mas oscuro
    &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 0;
    }

    .video-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -40%);
        object-fit:cover;
        z-index: -1;
    }

    & .container {
        margin-top: 200px;
        height: 500px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;

        & h1 {
            align-self: center;
            padding: 0px 20px;
            font-size: 20px;
            text-transform: uppercase;
            color: white;
            background-color:  rgba(0,0,0,0.6);
            display: inline-block;
            margin-bottom: 30px;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
        & h2 {
            align-self: center;
            text-transform: uppercase;
            font-size: 27px;
            color: white;
            text-shadow: -5px 5px 10px rgb(0, 0, 0);
            margin-bottom: 20px;
            text-align: center;
        }

        & p {
            align-self: center;
            text-align: center;
            color: white;
             text-shadow: 2px 1px 3px black;
             margin-bottom: 110px;
             font-size: 17px;
        }

        & a {
            align-self: center;
            background-color: white;
            padding: 8px 12px;
            border-radius: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px -2px 9px grey;

            & i {
               font-size: 20px;
               color: gray
            }
        }

        @include ab.breakpoint(tablet) {
            margin-top: 140px;
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 45px;
            }
            p {
                font-size: 20px;
                width: 700px;
                text-align: center;
            }

        }
        
    
        @include ab.breakpoint(desktop) {
            margin-top: 200px;
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 50px;
                width: 1050px;
            }
            p {
                font-size: 25px;
                width: 800px;
                text-align: center;
            }
            a {
                margin-top: 150px;
            }
    
        }
    }

}