// Tamaños responsive
$bp-tablet: 1024px;
$bp-tablet-horizontal: 1200px;
$bp-desktop: 1400px;
$bp-desktop-xl: 1440px;

// Colores
$cyan: rgb(14, 167, 223);
$grey: rgb(40, 41, 41);
$greyligth: rgb(139, 139, 139)


