@use "../abstracts/abstracts" as ab;


.blog_noticias {
    .cajon {
        background-color: black;
        margin-top: 80px;
        margin-bottom: 35px;
        text-align: center;
        height: 350px;
        color: white;

        h1 {
            padding: 35px;
            font-size: 30px;
            margin-bottom: 20px;
        }
        .Profe_blog {
            display: flex;
            flex-direction: column;
            gap: 20px;
            img {
                align-self: center;
                border-radius: 50px;
                outline: 5px solid ab.$cyan;
            }
            p {
                font-size: 18px;
            }
    
        }

        @include ab.breakpoint(tablet) {

            h1 {
                font-size: 45px;
            }
          
        }
    }
    .container {
        h2 {
            font-size: 25px;
            margin-bottom: 20px;
            font-weight: 500;

            i {
                font-size: 13px;
                padding: 0px 10px;
            }
        }
        .h2_bold {
            font-size: 35px;
            font-weight: 400;
        }
        p {
            color: grey;
            margin-bottom: 25px;
            line-height: 1.8;
            font-size: 19px;
            margin-top: 20px;
        }

        ul {
            li {
                margin-bottom: 25px;
                line-height: 1.8;
                font-size: 19px; 
            }
        }

        figure {
            img {
                border-radius: 10px;
                width: 100%;
                height: 200px;
                object-fit: cover;
                align-self: flex-start;
            }
            figcaption {
                font-style: italic;
                font-size: 15px;
                color: ab.$greyligth;
            }

        }
        @include ab.breakpoint(tablet) {
        
            .paf_img {
                display: grid;
                grid-template-columns: 1fr 450px;
                gap: 40px
            }
        }

   

    }
}