@use "../abstracts/abstracts" as ab;


.ia {
    .container {
        margin-top: 90px;
        h1 {
            color: ab.$grey;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }

        h2 {
           color: ab.$grey;
            font-size: 30px;
            margin-bottom: 25px;
            margin-top: 15px;
            text-shadow: 1px 1px 2px grey; 
        }
        p {
            color: ab.$grey;
            margin-bottom: 25px;
            line-height: 1.8;
            font-size: 18px;
            span {
                font-weight: bold;
                border-bottom: 2px solid ab.$cyan;
                color: ab.$grey;
            }
        }

        .imagenes_web {
            // display: flex;
            // flex-direction: column;
            // gap: 20px;
            // margin-bottom: 40px;
            .img_1 {
                border-radius: 10px;
                width: 100%;
                height: 200px;
                object-fit: cover;
                margin-bottom: 20px;
                // align-self: flex-start;
            }
            .img_2 {
                border-radius: 10px;
                width: 100%;
                height: 200px;
                object-fit: cover;
                margin-bottom: 20px;
                // align-self: flex-end;
            }
        }

        .aprenderas {
            h3 {
                margin-bottom: 20px;
            }
            background-color: white;
            margin-bottom: 30px;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0px 10px 10px -8px grey;

            li {
                line-height: 1.8;
                font-size: 16px;
            }

            i {
                color: ab.$cyan;
                margin-right: 10px;
            }
        }
         @include ab.breakpoint(tablet) {
            .hero_ia {
                height: 500px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 60px;
                margin-bottom: 40px;

                &_info {
                    align-self: center;
                    & > h2 {
                      font-size: 40px;
                      margin-bottom: 15px;
                    } 
                }

                .imagenes_web {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    justify-items: center;
                    gap: 20px;
                    .img_1 {
                      width: 250px;
                      height: 300px;
                      object-position: -200px;
                      align-self: end;
                      margin-bottom: 0px;
                    }
                    .img_2 {
                      width: 250px;
                      height: 300px;
                    }
                    
                }
            }
        }

    }
}