@use "../abstracts/abstracts" as ab;


.location {
    iframe {
        width: 100%;
        margin-top: 60px;
    }
    .ubicacion {
       background-color: black;
       color: white;
         padding: 20px 25px;
       h1 {
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-top: 20px;
       }

       h2 {
        color: ab.$cyan;
        text-transform: uppercase;
        margin-bottom: 15px;
            span {
                color: white;
            }
        }

        @include ab.breakpoint(tablet) {
            height: 300px;
            padding: 20px 85px;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:  repeat(2, 1fr);

            h1 {
                width: 350px;
                grid-area: 1 / 1 / span 2 /span 1 ;
                align-self: center;
                font-size: 60px;
            }

            h2 {
                grid-area: 1 / 2 / span 1/ span 1;
                align-self: end;
                font-size: 30px;
            }

            p {
                grid-area:  2 / 2 / span 1 / span 1;
                font-size: 20px;
            }
        }
        @include ab.breakpoint(desktop) {
            padding: 20px 300px;
        }
    }
    .container {
        margin-top: 25px;
        h2 {
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        form {
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            margin-bottom: 50px;
            box-shadow: 0px 10px 10px -8px grey;
            label {
                color: ab.$greyligth;
                margin-right: 10px;
            }
            input {
                padding: 8px;
                border: 0px;
                border-bottom: 1px solid rgb(228, 212, 212);
                outline: 0px;
                color: Grey;
                font-size: 18px;
            }
            textarea {
                padding: 8px;
                border: 0px;
                font-size: 17px;
                color: Grey;
                border-bottom: 1px solid rgb(228, 212, 212);
                outline: 0px;
                margin-bottom: 20px;
            }
            button {
                @include ab.botonarticle(){
                    border: 0px;
          }
            }
        }
        @include ab.breakpoint(tablet) {

        }
    }
}