@use "../abstracts/abstracts" as ab;


.quienes_somos {
    & .container {
        & .info {
            margin-top: 90px;
            // margin-bottom: 45px;
            h2 {
                color: ab.$grey;
                font-size: 35px;
                margin-bottom: 35px;
                margin-top: 15px;
                text-shadow: 1px 1px 2px grey;
                text-align: center;
    
            }
            & > p {
                width: 100%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                color: ab.$grey;
                line-height: 1.8;
                margin-bottom: 50px;
                & span {
                  border-bottom: 2px solid ab.$cyan;
                  color: ab.$grey;
                }
            }

            h3 {
                color: ab.$grey;
                font-size: 25px;
                text-align: center;
                //  text-shadow: 1px 1px 2px grey;
                 margin-bottom: 40px;
                 text-transform: uppercase;
            }

        }

        &_articles {
            box-shadow: 0px 5px 10px grey;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 25px;
            background-color: rgb(225, 233, 235);
            & .personal {
                display: grid;
                grid-template: repeat(2, 80px) / 105px 1fr;
                gap: 4px 15px;
               

                & img {
                 grid-area: 1 / 1 / span 2 / span 1 ;
                 border-radius: 50px;
                 outline: 5px solid white;
                 align-self: center;
                }
                & h4 {
                   align-self: end;
                   font-size: 20px;
                }
                
                & p {
                    color: ab.$cyan;
                }
            }

            & p {
                color: ab.$greyligth
            }
        }
        @include ab.breakpoint(tablet) {
            .info {

                & > p {
                  width: 80%;  
                }
            }
            .profesores {
                display: grid;
                grid-template: repeat(2, 1fr) / repeat(2, 1fr);
                gap: 20px
            }
      
        }

        @include ab.breakpoint(desktop) {

        }
    }
}