@use "../abstracts/abstracts" as ab;

.container {
  padding: 0px 25px;

  @include ab.breakpoint(tablet) {
    padding: 0px 80px;
  }


  @include ab.breakpoint(desktop) {
    padding: 0px 300px;
  }


}

